{% extends "layouts/base.html" %}  

{% block title %} Billing {% endblock %}  

<!-- Specific Page CSS goes HERE  -->  
{% block stylesheets %}  
<style>  
    /* Custom styles to ensure the loading modal is centered */  
    .modal-dialog {  
        display: flex;  
        align-items: center;  
        justify-content: center;  
        height: 100vh; /* Full height to center vertically */  
    }  
</style>  
{% endblock stylesheets %}  

{% block content %}  
<div class="container-fluid py-4">  
    <div class="row">  
        <div class="col-lg-12">  
            <div class="row">  
                <div class="col-md-12 mb-lg-0 mb-4">  
                    <div class="card mt-4">  
                        <form action="/analisis" method="POST" id="analysis-form">  
                            <div class="card-header pb-0 p-3">  
                                <div class="row">  
                                    <div class="col-6 d-flex align-items-center">  
                                        <h6 class="mb-0">Analisis Plagiarisme</h6>  
                                    </div>  
                                    <div class="col-6 text-end">  
                                        <button type="submit" class="btn bg-gradient-dark mb-0">Check Plagiarisme</button>  
                                        <button type="button" id="reset-results" class="btn bg-gradient-danger mb-0">Reset</button>  
                                    </div>  
                                </div>  
                            </div>  
                            <div class="card-body p-3">  
                                <div class="row">  
                                    <div class="col-md-6 mb-md-0 mb-4">  
                                        <label for="">Judul</label>  
                                        <textarea name="title" id="title" class="form-control border px-2"></textarea>  
                                    </div>  
                                    <div class="col-md-6">  
                                        <label for="">Abstract</label>  
                                        <textarea name="abstract" id="abstract" class="form-control border px-2"></textarea>  
                                    </div>  
                                </div>  
                            </div>  
                        </form>  
                    </div>  
                </div>  
            </div>  
        </div>  
    </div>  

    {% if results|length > 0 %}  
        {% for result in results %}  
    <div class="row" id="results-container" >  
            <div class="col-md-12 mt-4">  
                <div class="card">  
                    <div class="card-header pb-0 px-3">  
                        <h6 class="mb-0">Information</h6>  
                    </div>  
                    <div class="card-body pt-4 p-3">  
                        <ul class="list-group">  
                            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">  
                                <div class="d-flex flex-column">  
                                    <h6 class="mb-3 text-sm">Rabin Karp Prediksi:</h6>
                                    <span class="text-lg text-danger text-gradient px-3 mb-0">{{ result.rabin_karp_similarity }} {{ result.rabin_karp_similarity_score_percent }}</span> 
                                     
                                </div>  
                                 
                                <div class="ms-auto text-end">  
                                    <h6 class="mb-3 text-sm">Deep Learning Prediksi:</h6>
                                    <span class="text-lg text-danger text-gradient px-3 mb-0">{{ result.verdict }} {{ result.dl_similarity_score_percent }}</span>  
                                </div>  
                            </li>  
                        </ul>  
                    </div>  
                </div>  
            </div>  
             
    </div>  
    {% endfor %}  
    {% endif %}   
    <div id="loading-overlay" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">  
        <div class="modal-dialog modal-dialog-centered" role="document">  
            <div class="modal-content">  
                <div class="modal-body text-center">  
                    <div class="spinner-border text-primary" role="status"></div>  
                    <span class="sr-only">Loading...</span>  
                </div>  
            </div>  
        </div>  
    </div>  

    {% include 'includes/footer.html' %}  
</div>  
{% endblock content %}  

<!-- Specific Page JS goes HERE  -->  
{% block javascripts %}  
<script>  
    document.addEventListener('DOMContentLoaded', function() {  
        var form = document.getElementById('analysis-form');  
        var loadingOverlay = document.getElementById('loading-overlay');  
        var loadingModal = new bootstrap.Modal(loadingOverlay, {  
            backdrop: 'static',   
            keyboard: false   
        });  
        var resultsContainer = document.getElementById('results-container');  
        var resetButton = document.getElementById('reset-results');  

        form.addEventListener('submit', function(event) {  
            showLoading();  
            clearResults();  
        });  

        resetButton.addEventListener('click', function() {  
            clearResults();  
            form.reset();  
        });  

        function showLoading() {  
            loadingModal.show();  
        }  

        function hideLoading() {  
            loadingModal.hide();  
        }  

        function clearResults() {  
            resultsContainer.style.display = 'none';  
            resultsContainer.innerHTML = '';  
        }  
    });  
</script>  
{% endblock javascripts %}